%p.newGroupHeader New Group
= simple_form_for @group, :html => {:multipart => true} do |f|
  .newGroupContainer
    = f.input :name
    = f.input :description
    = f.file_field :picture, label: "Upload A Group Image"
    = f.button :submit, "Create Group"