- content_for(:page_title) do
  %h1 Sign Up

= simple_form_for @user, :html => {:multipart => true} do |f|
  = f.input :name
  = f.input :email
  = f.input :default_zip
  = f.file_field :avatar, label: "Upload Your User Avatar"
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, "Sign Up"