%p= link_to "New Cast", new_cast_path, class: "btn btn-inverse new-cast-button"
%p= link_to "New Group", new_group_path, class: "btn btn-inverse new-group-button"
%p= link_to "New Subscription", new_subscription_path, class: "btn btn-inverse new-group-button"


%h2#circleHeader #{@user.name}'s Circle
%div
    #map
.groupsContainer
.commentArea.hidden
    %button#closeComments Close
    .commentsContainer
        .castCommentsHeader
        .castComments
    .commentInputContainer
        %input#commentInput
        %button#submitComment Submit


:javascript

    //Holder variables
    var markers = [];
    var infoWindows = [];
    var mapArr = [];
    var userName = "#{@user.name}"
    var userId = "#{@user.id}"
    var openCastId = [];

    //Create marker icon
    function createIcon(pinColor){
        var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
        new google.maps.Size(21, 34),
        new google.maps.Point(0,0),
        new google.maps.Point(10, 34));
        return pinImage;
    }

    //Marker functions
    function populateMarker(position,map,infowindow,cast_id,color) {
        var pinImage = createIcon(color);
        var marker = new google.maps.Marker({
          position: position,
          map: map,
          icon: pinImage,
          animation: google.maps.Animation.DROP
        });
        marker.set("id", cast_id);
        map.panTo(position);
        google.maps.event.addListener(marker, 'click', function(e) {
          closeAllInfoWindows();
          infowindow.open(map,marker);
          showComments(marker.id);
        });
        markers.push(marker);
    }
    function deleteMarker(cast_id){
        $.ajax({
          url: "/casts/" + cast_id,
          type: "post",
          dataType: "json",
          data: {"_method":"delete"}
        });
    }
    function removeAllMarkersFromMap(){
        for(var i=0;i<markers.length;i++){
            markers[i].setMap(null);
            markers[i] = null;
        }
        markers = [];
    }
    function closeAllInfoWindows() {
        for (var i=0;i<infoWindows.length;i++) {
          infoWindows[i].close();
        }
    }

    function findDaysLeft(expiration){
        var now = new Date();
        var exp = Date.parse(expiration);
        var daysleft = parseFloat(((exp - now)/1000)*(1/86400)).toFixed(2);
        return daysleft;
    }

    function findMarkerColor(expiration){
        var daysleft = findDaysLeft(expiration);
        var color;
        if(daysleft<0){
            color = 'expired'
        }else if(daysleft<0.05){
            color = 'FA334F'
        }else if(daysleft<1){
            color = 'FFD700'
        }else if(daysleft<7){
            color = '96D72D'
        }else if(daysleft<30){
            color = '323299'
        }else if(daysleft<365){
            color = '70018B'
        }
        return color;
    }

    function populateComments(path,is_parent){
        $.getJSON(path,function(data){
            if(is_parent){
                var elem = $('<div class="castComment" data-uuid="'+data.id+'">'+
                        '<p class="castCommentParentHeader">'+data.title+'</p>'+
                        '<p class="castCommentParentContent">'+data.content+'</p>'+
                        '<p class="castCommentParentUser">'+data.user.name+'</p>'+
                        '<p class="castCommentParentExpiration">'+findDaysLeft(data.expiration)+
                            ' Days Remaining</p>'+
                        '</div>');
                $('.commentsContainer').append(elem);
            }else{
                if(Object.keys(data).length>0){
                    console.log(data);
                    $.each(data,function(index,val){
                        var elem = $('<div class="castComment" data-uuid="'+val.id+'">'+
                            '<p class="castCommentChildContent">'+val.content+'</p>'+
                            '<p class="castCommentChildUser">'+val.user.name+'</p>'+
                            '</div>');
                        $('.commentsContainer').append(elem);
                    })
                }
            }
        });
    }

    function resetCommentContainer(){
        $('.commentsContainer').empty()
        $('#commentInput').val('');
    }

    function showComments(cast_id){
        openCastId = [];
        openCastId.push(cast_id);
        resetCommentContainer();
        $('.commentArea').removeClass('hidden');
        var castPath = "#{root_url}/casts/"+cast_id;
        var commentsPath = "#{root_url}/casts/"+cast_id+"/comments"
        populateComments(castPath,true);
        populateComments(commentsPath,false);
    }

    $('#closeComments').click(function(){
        $('.commentArea').addClass('hidden');
    });

    function postComment(cast_ID){
        var commentVal = $('#commentInput').val();
        if(commentVal!==''){
            $.post("#{comments_path}", { content: commentVal, user_id: "#{current_user}", cast_id: cast_ID },
                function(data){
                    console.log('posted:'+data);
                },'json');
        }else{
            console.log("Please enter a comment in order to submit");
        }
    }

    $('#submitComment').click(function(){
        console.log(openCastId[0]);
        if(openCastId[0]){
            var castPath = "#{root_url}/casts/"+openCastId[0];
            var commentsPath = "#{root_url}/casts/"+openCastId[0]+"/comments"
            postComment(openCastId[0]);
            resetCommentContainer();
            populateComments(castPath,true);
            populateComments(commentsPath,false);
        }
    })

    function populateMarkers(path,map){
        $.getJSON(path,function(data) {
          removeAllMarkersFromMap();
          var lastCast = data[data.length-1];
          //loop through all owned markers and append
          $.each(data,function(index,cast){
            //determine latLng
            var latLng = new google.maps.LatLng(cast.lat,cast.lon);
            //add content to each infowindow
            var contentString = '<div class="castPopup '+cast.id+'Popup" id="cast.id">'+
                    '<p class=castTitle '+cast.id+'Title>'+cast.title+'</p>'+
                    '<p class=castContent '+cast.id+'Content>'+cast.content+'</p>'+
                    "<p class=castExpiration "+cast.id+"Expiration>"+findDaysLeft(cast.expiration)+" Days Left</p>"
                    '</div>'
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            //populate variable array for reference
            infoWindows.push(infowindow);
            //attach markers and info windows to map
            var color = findMarkerColor(cast.expiration);
            if(color==='expired'){
                deleteMarker(cast.id);
            }else{
                populateMarker(latLng,map,infowindow,cast.id,color);
            }
          });
      })
    }

    function populateSubscribedGroups(){
        var myCastsElem = $('<div class="groupContainer" data-uuid="'+userId+'"><p class="groupName">'+
                "#{@user.name}"+'</p></div>')
        $('.groupsContainer').append(myCastsElem);
        $.getJSON("#{user_groups_path(@user)}",function(data) {
            $.each(data,function(index,group){
                var elem = $('<div class="groupContainer" data-uuid="'+group.id+'"><p class="groupName">'+
                group.name+'</p></div>')
                $('.groupsContainer').append(elem);
            });
        });
    }

    function initialize() {
      if(!($('#map').length)){return}
      //insert rails variables here
      var mapOptions = {
        center: { lat: parseFloat(-25.363882), lng: parseFloat(131.044922)},
        zoom: 8,
        disableDefaultUI: true
      };
      var map = new google.maps.Map(document.getElementById('map'),
        mapOptions);
      mapArr.push(map);
      populateMarkers("#{user_casts_path(@user)}",map)
      populateSubscribedGroups();
      $('.groupsContainer').click('.groupContainer',function(e){
        if($(e.target).attr('data-uuid')){
            var groupName = $(e.target).children()[0].innerHTML;
            if(groupName===userName){
                $('#circleHeader').text(groupName+"'s Circle");
                populateMarkers("#{root_url}/users/"+$(e.target).attr('data-uuid')+"/casts.json",mapArr[0]);
            }else{
                $('#circleHeader').text(groupName+" Circle");
                populateMarkers("#{root_url}/groups/"+$(e.target).attr('data-uuid')+"/casts.json",mapArr[0]);
            }
        }
      })
    }
    google.maps.event.addDomListener(window, 'load', initialize);


