
%p.newSubscriptionTitle Groups
.existingSubscriptions
    %p.existingSubscriptionsHeader Member
.availableSubscriptions
    %p.availableSubscriptionsHeader Available

:javascript

    //////////////////////////////////////////
    ///////// Existing Subscriptions /////////
    //////////////////////////////////////////

    var myGroupIds = [];

    function makeRemoveSubscriptionElem(group){
        var elem = '<div class="subscriptionContainer '+group.id+'Subscription">'+
                        '<div class="subscriptionImageContainer">'+
                        '<img class="subscriptionImage '+group.id+'SubscriptionImg" src="https://s3.amazonaws.com/social-circle-development/thesocialcircle.png"></img>'+
                        '</div>'+
                        '<div class="subscriptionContentContainer">'+
                        '<p class="subscriptionHeader '+group.id+'SubscriptionHeader">'+group.name+'</p>'+
                        '<p class="subscriptionContent '+group.id+'SubscriptionContent">'+group.description+'</p>'+
                        '</div>'+
                        '<button class="unsubscribeButton '+group.id+'UnsubscribeButton">Unsubscribe</button>'+
                    '</div>'
        $('.existingSubscriptions').append(elem);
        attachUnsubscribeListener(group)
    }

    function appendExistingSubscriptions(){
        $.getJSON("#{root_url}users/#{current_user.id}/groups",function(data){
            if(Object.keys(data).length!==0){
                $.each(data,function(index,group){
                    myGroupIds.push(group.id);
                    makeRemoveSubscriptionElem(group);
                })
            }
        })
    }

    function attachUnsubscribeListener(group){
        $('.'+group.id+'UnsubscribeButton').click(function(e){
            $.ajax({
              url: "/subscriptions/" + group.subscriptions[0].id,
              type: "post",
              dataType: "json",
              data: {"_method":"delete"},
              success: deleteSubscriptionSuccess(e)
            });
        })
    }

    function deleteSubscriptionSuccess(e){
        $(e.target).css('background-color','tomato');
        $(e.target).text('Unsubscribed')
    }


    //////////////////////////////////////////
    ///////// Available Subscriptions ////////
    //////////////////////////////////////////

    function makeNewSubscriptionElem(group){
        var elem = $('<div class="subscriptionContainer '+group.id+'Subscription">'+
                        '<div class="subscriptionImageContainer">'+
                        '<img class="subscriptionImage '+group.id+'SubscriptionImg" src="https://s3.amazonaws.com/social-circle-development/thesocialcircle.png"></img>'+
                        '</div>'+
                        '<div class="subscriptionContentContainer">'+
                        '<p class="subscriptionHeader '+group.id+'SubscriptionHeader">'+group.name+'</p>'+
                        '<p class="subscriptionContent '+group.id+'SubscriptionContent">'+group.description+'</p>'+
                        '</div>'+
                        '<button class="subscriptionButton '+group.id+'SubscriptionButton">Subscribe</button>'+
                    '</div>');
        $('.availableSubscriptions').append(elem);
        attachSubscribeListener(group);
    }

    function appendAvailableSubscriptions(){
        $.getJSON("#{root_url}groups",function(data){
            if(Object.keys(data).length!==0){
                $.each(data,function(index,group){
                    if(myGroupIds.indexOf(group.id)===-1){
                        makeNewSubscriptionElem(group);
                    }
                })
            }
        })
    }

    function attachSubscribeListener(group){
        $('.'+group.id+'SubscriptionButton').click(function(e){
            $.ajax({
              url: "#{subscriptions_path}",
              type: "post",
              dataType: "json",
              data: {group_id: group.id, user_id: "#{current_user.id}"},
              success: endPost(e)
            });
            function endPost(e){
                $(e.target).css('background-color','limegreen');
                $(e.target).text('Subscribed')
            }
        })
    }

    //////////////////////////////////////////
    ///////// On Document Ready //////////////
    //////////////////////////////////////////

    $(document).ready(function(){
        appendExistingSubscriptions();
        appendAvailableSubscriptions();
    });


