- content_for(:page_title) do
  %h1 New Cast

= simple_form_for @cast, :html => {:multipart => true} do |f|
  = f.input :title
  = f.input :content
  = f.input :expiration, as: :string, :input_html => {:class => 'datetimePicker'}
  = f.input :lat, :as => :hidden
  = f.input :lon, :as => :hidden
  = f.association :groups, as: :check_boxes
  - if @cast.valid?
    = f.button :submit, "Cast Message"
  - else
    %p Choose a Location for this message by clicking somewhere on the map below or clicking 'Set Current Location'
    %button#setCurrentLocation Set Current Location
    #placeCastMap
    %button#setChosenLocation.hidden Set Chosen Location